@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Iso', cursive;
}
html,body{
    height: 100%;
}
a{
    display: flex;
    width: 100px;
    height: 50px;
    border: 5px solid rgb(225, 117, 103);
    border-top-color: rgb(225, 100, 83);
    border-left-color: rgb(225, 100, 83);
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: brown;
    background: rgba(234, 135, 60,0.7);
}
h1{
    display: block;
    margin: 40 auto;
}